<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewData["Title"] - MvcEticaret</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Dist/assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Dist/css/styles.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper">
        <!-- Navigation-->
        <partial name="_NavigationPartial" />

        <div class="container-fluid">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- Footer-->
        <partial name="_FooterPartial" />

    </div>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Dist/js/scripts.js"></script>

</body>
</html>